:root {
  --current-user-color: #db7878; /* Postavite boju za poruke trenutnog korisnika */
  --other-user-color: #a6d9ff; /* Postavite boju za poruke drugih korisnika */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Stilizacija za poruke */
.Message {
  padding: 0.7em;
  margin-bottom: 0.3em;
  border-radius: 0.5em;
  color: #000000; /* Boja teksta za poruke */
  overflow-wrap: break-word; /* Prijelom teksta unutar poruke */
  width: fit-content;
}

.Message-text {
  font-size: 1em;
}

.Member-username {
  font-weight: bold;
}

/* Dodano za stilizaciju poruka */
.Messages-list {
  display: flex;
  flex-direction: column; /* Promijenite smjer redoslijeda */
  align-items: flex-start; /* Poruke i korisnička imena će biti s lijeve strane */
  height: 500px; /* Prilagodite visinu prema želji */
  overflow-y: auto; /* Dodajte klizanje ako je potrebno */
}

.Message.MyMessage {
  align-self: flex-end;
  background-color: var(--current-user-color);
}

/* Stilovi za poruke koje su poslali drugi korisnici */
.Message.OtherMessage {
  align-self: flex-start;
  background-color: var(--other-user-color);
}
